# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# ML / dados locais
mlruns/
data/raw/*.csv
!data/raw/.gitkeep

# Ambiente
.venv/
venv/
.env
*.env.local

# SO / IDE
.DS_Store
.idea/
.vscode/
